# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# Miscellaneous
.DS_Store
Thumbs.db

# Optional eslint cache
.eslintcache

# TypeScript
*.tsbuildinfo
*.tsbuildinfo.json